body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    overflow: hidden;
}

.container{
    display: grid;
    position: relative;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    width: 40vmin;
    column-gap: 10px;
    top: -7px;
}

.stats{
    display: flex;
    width: 62vmin;
    position: relative;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

.reset , .undo{
    font-size: 20px;
    color: white;
    background-color: #8f7a66;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    width: fit-content;
    margin: auto;
    white-space: nowrap;
}
.undo{
    padding:9px 10px 4px 10px;
}

.reset:hover ,.undo:hover{
    background-color: #a68d79;
}

.undo > img{
    height: 25px;
    width: 25px;
}

.scoreText{
    background-color: #bbada0;
    color: #ffffff99;
    font-size: 20px;
    border-radius: 5px;
    line-height: 4vmin;
    white-space: nowrap;
    min-height: 50px;
}

.scoreText > span{
    font-size: 30px;
    color: white;
}

.Name{
    line-height: 15vmin;
    width: 15vmin;
    min-width: 90px;
    min-height: 90px;
    background-color: #ecc230;
    color: white;
    border-radius: 10px;
}

hr{
    height: 110px;
    background: #cdc1b5;
    border: 1px solid #cdc1b5;
}

.title{
    font-size: 25px;
    color: #776e65;
}

.gameover{
    display: none;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #bbada050;
    width: 60vmin;
    line-height: 60vmin;
    color: #776e65;
    font-size: 6vmin;
}

#board{
    width: 60vmin;
    height: 60vmin;
    background-color: #cdc1b5;
    border: calc(60vmin/100*0.9) solid #bbada7;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
}

.tile{
    border: calc(60vmin/100*0.9) solid #bbada0;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
}

.x2{
    background-color: #eee4da;
    color: #727371;
}

.x4{
    background-color: #ece0ca;
    color: #727371;
}

.x8{
    background-color: #f4b17a;
    color: white;
}

.x16{
    background-color: #f59575;
    color: white;
}

.x32{
    background-color: #f57c5f;
    color: white;
}

.x64{
    background-color: #f65d3b;
    color: white;
}

.x128{
    background-color: #edce71;
    color: white;
}

.x256{
    background-color: #edcc63;
    color: white;
}

.x512{
    background-color: #edc651;
    color: white;
}

.x1024{
    background-color: #eec744;
    color: white;
}

.x2048{
    background-color: #ecc230;
    color: white;
}

.x4096{
    background-color: #3c3a32;
    color: white;
}

.x8192{
    background-color: #3c3a32;
    color: white;
}

